<html>
  <head>
    <title>Dovinian's no-bullshit, slightly fast, flat rate, jump freighter service.  </title>
    <link rel="stylesheet" href="{{url_for('static',filename="bootstrap-1.2.0.min.css")}}">
  </head>
  <body>
    <div class="container" style="width:750px;">
      <div class="page-header" style="padding:10px 0px 10px">
	      <a href="https://forum.pleaseignore.com/topic/374-dovinians-no-bullshit-slightly-fast-flat-rate-jump-freighter-service/"><img src="{{url_for('static',filename="header.png")}}" /></a>
	      <span style=""><a href="{{url_for('stats')}}">Stats</a></span>
	      <span style=""><a href="{{url_for('lottery')}}">Lottery</a></span>
        <span style="float:right">{% if next %}Next update in {{next}}{% else %}Update imminent{% endif %}</span>
      </div>
        <h5 style="float:right">moved {{total|humanize}} m3 (last 30 days)</h5>
      {% if outstanding %}
        {% for key, value in stations %}
          {% if value.volume %}
            <h5>{{value.total|humanize}} contracts 
                to {{value.name}}:
                {{value.volume|humanize}} m3 
                ( >= {{(value.volume/337500)|round(0,'ceil')|int}} trips) 
                for {{(value.reward/1000000)|humanize}}m isk</h5>
          {% endif %}
        {% endfor %}
      <table class="zebra-striped">
        <thead>
          <tr>
            <td>Start</td>
            <td>End</td>
            <td>Age</td>
            <td>Volume</td>
            <td>Reward</td>
            <td>Rate</td>
          </tr>
        </thead>
        <tbody>
        {% for contract in outstanding %}
          <tr>
            <td>{{contract.start}} 
              {% if contract.inprogress %}
              <img src="{{url_for('static',filename="truck.png")}}" height="18"/> {% endif %}
            </td>
            <td>{{contract.end}}</td>
            <td>{{contract.age}}</td>
            <td>{{contract.volume|humanize}} m3</td>
            <td>{{contract.reward|humanize}} isk</td>
            <td {% if contract.rate < contract.price %} style="color:indianred" {% endif %}>{{contract.rate|humanize}} isk/m3</td>
          </tr>
        {% endfor %}
      {% else %}
        <h5> No current contracts </h5>
      {% endif %}
        </tbody>
      </table>
    </div>
  </body>
</html>
