<html>
  <head>
    <title>Dovinian's no-bullshit, slightly fast, flat rate, jump freighter service.</title>
    <link rel="stylesheet" href="{{url_for('static',filename="bootstrap-1.2.0.min.css")}}">
  </head>
  <body>
    <div class="container" style="width:750px;">
      <div class="page-header" style="padding:10px 0px 10px">
        <a href="https://forum.pleaseignore.com/topic/374-dovinians-no-bullshit-slightly-fast-flat-rate-jump-freighter-service/"><img src="{{url_for('static',filename='header.png')}}" /></a>
        <span style=""><a href="{{url_for('jfcontracts')}}">Main</a></span>
	<span style=""><a href="{{url_for('stats')}}">Stats</a></span>
	<span style="float:right">{% if next %}Next update in {{next}}{% else %}Update imminent{% endif %}</span>
      </div>
	<span style="float:right">Next lottery in {{next_lottery}}</span>

      <h4>Last Winners: {% for w in winners %}{{w.note}}  {% endfor %}</h4>
      <table class="zebra-striped">
	<thead>
          <tr>
	    <td style="">Issuer</td>
	    <td style="text-align:right">Valid Tickets</td>
	    <td style="text-align:right">Volume Contracted</td>
	  </tr>
        </thead>
	<tbody>
        {% for i in tickets %} 
          <tr>
            <td style="">{{i[2]}}</td>
	    <td style="text-align:right">{{i[1]|humanize}}</td>
	    <td style="text-align:right">{{i[0]|humanize}} m3</td>
          </tr>
	{% endfor %}
      </tbody>
    </table>
   </div>
  </body>
</html>
            
