<html>
  <head>
    <title>Dovinian's no-bullshit, slightly fast, flat rate, jump freighter service.</title>
    <link rel="stylesheet" href="{{url_for('static',filename="bootstrap-1.2.0.min.css")}}">
  </head>
  <body>
    <div class="container" style="width:750px;">
      <div class="page-header" style="padding:10px 0px 10px">
        <a href="https://forum.pleaseignore.com/topic/374-dovinians-no-bullshit-slightly-fast-flat-rate-jump-freighter-service/"><img src="{{url_for('static',filename='header.png')}}" /></a>
	<span style=""><a href="{{url_for('jfcontracts')}}">Main</a></span>
	<span style=""><a href="{{url_for('lottery')}}">Lottery</a></span>
        <span style="float:right">{% if next %}Next update in {{next}}{% else %}Update imminent{% endif %}</span>

      </div>
      <table class="zebra-striped">
        <thead>
          <tr>
            <td></td>
            <td style="text-align:right;font-weight:bold;">Contracts</td>
            <td style="text-align:right;font-weight:bold;">&lt; 24h</td>
            <td style="text-align:right;font-weight:bold;">&lt; 48h</td>
            <td style="text-align:right;font-weight:bold;">Avg.</td>
            <td style="text-align:right;font-weight:bold;">Volume Moved</td>
            <td style="text-align:right;font-weight:bold;">Total Reward</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Last Three Days</td>
            <td style="text-align:right">{{threeday.contracts}}</td>
            <td style="text-align:right">{{threeday.lt24h|humanize}} ({{(threeday.lt24h/threeday.contracts)|pretty}})</td>
            <td style="text-align:right">{{threeday.lt48h|humanize}} ({{(threeday.lt48h/threeday.contracts)|pretty}})</td>
            <td style="text-align:right">{{threeday.duration}}</td>
            <td style="text-align:right">{{threeday.volume|humanize}} m3 ({{(threeday.volume/337500)|round(0,'ceil')|int}} trips)</td>
            <td style="text-align:right">{{(threeday.isk/1000000)|humanize}}m isk</td>
          </tr>
          <tr>
            <td>Last Seven Days</td>
            <td style="text-align:right">{{sevenday.contracts}}</td>
            <td style="text-align:right">{{sevenday.lt24h|humanize}} ({{(sevenday.lt24h/sevenday.contracts)|pretty}})</td>
            <td style="text-align:right">{{sevenday.lt48h|humanize}} ({{(sevenday.lt48h/sevenday.contracts)|pretty}})</td>
            <td style="text-align:right">{{sevenday.duration}}</td>
            <td style="text-align:right">{{sevenday.volume|humanize}} m3 ({{(sevenday.volume/337500)|round(0,'ceil')|int}} trips)</td>
            <td style="text-align:right">{{(sevenday.isk/1000000)|humanize}}m isk</td>
          </tr>
          <tr>
            <td>Last Thirty Days</td>
            <td style="text-align:right">{{everyday.contracts}}</td>
            <td style="text-align:right">{{everyday.lt24h|humanize}} ({{(everyday.lt24h/everyday.contracts)|pretty}})</td>
            <td style="text-align:right">{{everyday.lt48h|humanize}} ({{(everyday.lt48h/everyday.contracts)|pretty}})</td>
            <td style="text-align:right">{{everyday.duration}}</td>
            <td style="text-align:right">{{everyday.volume|humanize}} m3 ({{(everyday.volume/337500)|round(0,'ceil')|int}} trips)</td>
            <td style="text-align:right">{{(everyday.isk/1000000)|humanize}}m isk</td>
          </tr>
        </tbody>
      </table>

      <table class="zebra-striped">
        <thead>
          <tr>
            <td style="width: 120px;font-weight:bold;">Date Completed</td>
            <td style="width: 100px;font-weight:bold;" alt="From Issue to Completion">Duration</td>
            <td style="font-weight:bold;">Description</td>
            <td style="width: 100px;text-align:right;font-weight:bold;">Volume</td>
            <td style="width: 100px;text-align:right;font-weight:bold;">Reward</td>
          </tr>
        </thead>
        <tbody>
        {% for stat in stats %}
          <tr>   
            <td>{{stat.dateCompletedStr}} </td>
            <td>{{stat.durationStr}}</td>
            <td>{{stat.title}}</td>
            <td style="text-align:right">{{stat.volume|humanize}} m3</td>
            <td style="text-align:right">{{(stat.reward/1000000)|humanize}}m isk</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div style="float:right">{{url_for('static',filename="bootstrap-1.2.0.min.css")}}</div>
  </body>
</html>
            
